@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Fredoka One', sans-serif;
    background-color: #AFCBFF
}

header > h1 {
    text-align: center;
    font-size: 4rem;
    color: #fe4140;
    margin-bottom: 20px;
}

#game-description > p {
    text-align: center;
    font-size: 2rem;
    color: #fe4140;
    margin-bottom: 15px;
}

#game-area {
    column-count: 6;
    max-width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    margin-bottom: 0px;    
}

#game-area > img {
    height: 160px;
    padding: 10px;
    border: solid 3px black;
    border-radius: 5%;
    background-color: whitesmoke;
    margin: 20px;
}

#score-area {
    text-align: center;
}

#score-area > p {
    display: inline;
    margin: auto;
    color: #fe4140;
    font-size: 2rem;
    padding: 50px;
    padding-bottom: 0;
    background-color: transparent;    
}

footer {
    margin-top: 10px;
    margin-bottom: 0;
    position: relative;
}